  <h5>Enter Date Range:</h5>

    <div><%= label_tag('start_date', "Start Date:")%><%= date_field_tag('start_date') %></div>
    <div><%= label_tag('end_date', "End Date:")%> <%= date_field_tag('end_date') %></div>
  
  <br>