<div class="username"><%= current_user.username %>'s </div>

<% if pagetitle == "Localhost:3000" %>
  <% pagetitle = "Summary" %>
<% end %>

<div class="pagetitle"><%= pagetitle %> Page </div>  
<br>
<br>









