@import "bulma";


.alert {
	color: red;
}

.notice {
  color: green;
}

div#error_explanation li{
	color: red;
}

h1 {
	text-align: center;
	font-size: 30px;
}


a.link-to-text_color {
	color: blue;
}

.tasks {
	text-indent: 5%;

}


table {
  border-spacing: 1em .5em;
  padding: 0 2em 1em 0;
  border: 1px solid orange;
}

th {

  background: #d2d2d2;
	
}

td {
  width: 1.5em;
  height: 1.5em;
  background: #d2d2d2;
  text-align: center;
  vertical-align: middle;
}